body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    text-align: center;
    background-color: #f0f8ff; /* Light blue background */
}

.welcome-text {
    font-size: 3em;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px #aaa;
    margin-bottom: 20px;
}

img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.linkedin-icon {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.linkedin-icon a img {
    width: 40px;
    height: auto;
    transition: transform 0.2s;
}

.linkedin-icon a img:hover {
    transform: scale(1.1);
}
